body{
border-style: solid; 
border-color: #0000ff;
background-image: url(beesrcity.gif);
border-width: 0px;
FONT-SIZE: 11;
FONT-FAMILY: Verdana,Arial,Tahoma;
COLOR: #000000
}
TABLE
{
FONT-SIZE: 11;
FONT-FAMILY: Verdana,Tahoma,Arial;
COLOR: #000000;
}
A:link {COLOR: #000000; TEXT-DECORATION: none}
A:visited {COLOR: #000000; TEXT-DECORATION: none}
A:hover {COLOR: #000000; TEXT-DECORATION: underline}