h2 { font-family :  verdana,tahoma,sans-serif; 
font-size: 15pt; 
color: #006699; 
text-decoration: none; 
font-weight : bolder;
}

#phone
{
z-index: 1;
position: absolute;
top: 35px;
right: 10px;
color: #ffff00;
font-family :  verdana,tahoma,sans-serif; 
font-size: 14pt;
font-style: italic;
text-align: right;
font-weight : bolder;
} 

#okna_txt
{
z-index: 1;
position: absolute;
top: 0px;
left: 350px;
color: #ffff00;
font-family :  tahoma,sans-serif; 
font-size: 17px;
font-style: italic;
font-weight : bolder;
} 

#krovla_txt
{
z-index: 1;
position: absolute;
top: 25px;
left: 350px;
color: #ffff00;
font-family :  tahoma,sans-serif; 
font-size: 17px;
font-style: italic;
font-weight : bolder;
} 

#pvx_txt
{
z-index: 1;
position: absolute;
top: 80px;
left: 350px;
color: #ffff00;
font-family :  tahoma,sans-serif; 
font-size: 17px;
font-style: italic;
font-weight : bolder;
text-align: left;
} 

.sim, A.sim:link, A.sim:visited { font-family : verdana,tahoma,sans-serif; font-size: 9pt; color: #006699; text-decoration: none;padding: 2px;}
A.sim:hover { font-family : verdana,tahoma,sans-serif; font-size: 9pt; color: #ff0000; text-decoration: underline; padding: 2px;}

.sim_red_, A.sim_red_:link, A.sim_red_:visited { font-family : verdana,tahoma,sans-serif; font-size: 9pt; color: #006699; text-decoration: none;padding: 2px;}
A.sim_red_:hover { font-family : verdana,tahoma,sans-serif; font-size: 9pt; color: #ff0000; text-decoration: underline; padding: 2px;}

.white, A.white:link, A.white:visited { font-family : verdana,tahoma,sans-serif; font-size: 9pt; color: #ffffff; text-decoration: none;padding: 2px;}
A.white:hover { font-family : verdana,tahoma,sans-serif; font-size: 9pt; color: #ffffff; text-decoration: underline; padding: 2px;}

img.photo {  border: 1 solid #ff9966; }

